.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 70%;

  h2 {
    margin: 10px 0;
  }

  .sign-in-span {
    padding: 15px 0;
  }

  .form-input {
    margin: 10px;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 10px;
  }
}

@media (max-width: 530px) {
  .buttons-container {
    flex-direction: column;
    gap: 10px;
  }
}
