.sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-right: 1px solid black;

  form {
    width: 50%;
  }

  h2 {
    margin: 10px 0;
  }

  .sign-in-span {
    padding: 15px 0;
  }

  .form-input {
    margin: 10px;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 1000px) {
  .sign-in-container {
    border-right: none;
  }
}

@media (max-width: 530px) {
  .buttons-container {
    flex-direction: column;
    gap: 10px;
  }
}
