.hero {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  @media (max-width: 370px) {
    .hero {
      height: auto;
      grid-template-columns: auto;
    }
  }

  .hero-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top: 2px solid rgb(221, 221, 221);
  }

  .hero-h2 {
    padding-bottom: 28px;
    font-weight: lighter;
    font-size: 35px;
  }

  @media (max-width: 370px) {
    .hero-h2 {
      font-size: 25px;
    }
  }

  .hero-span {
    border: 1px solid rgb(202, 200, 255);
    padding: 20px;
    font-weight: lighter;
    font-size: 18px;
    text-decoration: none;
    color: black;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
  }

  .hero-img-container {
    background-image: url("../../assets/images/foto-hero-integrador-react-nucba.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    .shop-link {
      color: white;
      text-decoration: none;
      font-size: 40px;
      font-weight: lighter;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.593);
    }
  }
}
