.category-container {
  margin-top: 80px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  row-gap: 50px;
}

.title {
  text-decoration: none;
  color: black;
}

// @media(max-width: )
