.authentication-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 80px auto 0;
}

@media (max-width: 1000px) {
  .authentication-container {
    flex-direction: column;
    gap: 30px;
  }
}
