.hero {
  display: flex;

  .image-container {
    width: 50%;
    height: calc(100vh - 80px);
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/images/foto-hero-1.jpg");
    background-size: cover;

    .logo {
      width: 500px;
      height: 500px;
    }

    .shop-link {
      text-decoration: none;
      background-color: #000000ce;
      color: #ffffff;
      font-size: 45px;
      font-weight: lighter;
      padding: 10px;
      position: absolute;
      top: 670px;
    }
  }

  .hero-text-container {
    width: 50%;
    height: calc(100vh - 80px);
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/images/foto-hero-2.jpg");
    background-size: cover;

    .about-link {
      text-decoration: none;
      text-align: center;
      font-size: 40px;
      font-weight: 400;
      padding: 10px;
      color: #ffffff;
      border: 1px solid #ffffff;
      margin-top: 10px;
    }
  }
}

@media (max-width: 1000px) {
  .hero {
    flex-direction: column;

    .image-container {
      width: 100%;
      height: calc(70vh - 40px);

      .logo {
        width: 300px;
        height: 300px;
      }

      .shop-link {
        top: 440px;
        font-size: 35px;
      }
    }

    .hero-text-container {
      width: 100%;
      height: calc(30vh - 40px);
      margin-top: 0;

      .about-link {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 350px) {
  .hero {
    .image-container {
      .logo {
        display: none;
      }

      .shop-link {
        position: initial;
      }
    }
  }
}
